body {
    background-color: seashell;
}

a{
    text-decoration: none;
    color: orange;
}

a:hover {
    color: navy;
}

.logo {
    height: 56px;
    width: 56px;
    float: right;
}

.top {
    color: orange;
    border: 5px solid orange;
    padding: 20px;
}

.gameFlex {
    display: flex;
    margin: 10px;
    justify-content: space-around;
}

.newGame {
    text-decoration: none;
    color: orange;
}

.newGame:hover {
    color: navy;
}

.gameInfo {
    border: 2px solid orange;
    width: 30vw;
    height: auto;
    padding: 5px;
}







.charImg {
    width: 20vw;
    height: auto;
}

.newGameForm {
    border: 2px solid orange;
}

.newGameHead {
    color: orange;
}

#title {
    width: 150px;
    height: 20px;
}

#year {
    width: 89px;
    height: 20px;
}

#company {
    width: 118px;
    height: 20px;
}

#imgLink {
    width: 146px;
    height: 20px;
}

.newSubmit {
    background: black;
    color: white;
    width: 190px;
}




.charFlex {
    display: flex;
    margin: 10px;
    justify-content: space-around;
}


.charEdits {
    border: 5px solid orange;
    padding: 5px;
}

.charData {
    border: 2px solid orange;
    width: 30vw;
    height: auto;
    padding: 5px;
}

.gameImg {
    width: 30vw;
    height: auto;
}



.innerCharEdit {
    border: 3px solid orange;
    padding: 5px;
}

.innerCharData {
    border: 2px solid orange;
    padding: 5px;
    margin: 5px;
}

.innerCharImg {
    width: 20vw;
    height: auto;
}

.commentData {
    border: 1px solid orange;
    padding: 5px;
    margin: 10px;
}